# Ignore log files
*.log

# Ignore temporary files and directories
*.tmp
*.bak
*.swp


# Ignore build and dependency directories
/allure-report/

# Ignore sensitive files
.env
credentials.json

# Ignore Karate report folders
karate-reports_*/
